In [133]:
from collections import defaultdict
import datetime
import graphviz
import matplotlib.pyplot as plt
import networkx as nx
import numpy as np
import os
import pandas as pd
import seaborn as sns
sns.set()
path = os.path.expanduser('~/Projects/capstone-two/data/processed/Final_Clean_Harbor_Water_Quality.csv', )
wq_df = pd.read_csv(path, parse_dates=['Sample Date'], index_col=0)

ModuleNotFoundError: No module named 'graphviz'

Make a graph

for row[sample date]

subtract one month and add one month

reduce wq_df to samples taken in this window (TIME SERIES??)

if there is they both failed the test, draw an edge between the two nodes

In [2]:
wq_df['Sampling Location'].unique()

array(['E8', 'E7', 'E4', 'E10', 'K5A', 'G2', 'K5', 'N7', 'K6', 'N6', 'K2',
       'K3', 'K1', 'K4', 'N8', 'N1', 'N3B', 'N5', 'E2', 'N4', 'H3', 'J10',
       'J1', 'J3', 'N9A', 'J9A', 'J7', 'J2', 'J11', 'N9', 'N16', 'J5',
       'J8', 'E13', 'E11', 'E14', 'E6', 'E15', 'FLC2', 'BB2', 'BB4',
       'FLC1', 'PB2', 'PB3', 'J12', 'NC2', 'NC3', 'NC1', 'NC0', 'GB1',
       'FB1', 'CIC3', 'BR5', 'NR1', 'JA1'], dtype=object)

In [31]:
for site in wq_df['Sampling Location'].unique():
    print(site, wq_df[wq_df['Sampling Location'] == site]['Top Ortho-Phosphorus (mg/L) Failure'].sum())

E8 2
E7 3
E4 9
E10 0
K5A 3
G2 5
K5 10
N7 0
K6 0
N6 1
K2 11
K3 29
K1 2
K4 46
N8 1
N1 1
N3B 1
N5 2
E2 6
N4 1
H3 0
J10 24
J1 100
J3 26
N9A 2
J9A 98
J7 182
J2 12
J11 2
N9 2
N16 0
J5 22
J8 55
E13 1
E11 0
E14 272
E6 14
E15 21
FLC2 19
BB2 152
BB4 123
FLC1 22
PB2 35
PB3 36
J12 112
NC2 45
NC3 24
NC1 73
NC0 144
GB1 1
FB1 15
CIC3 1
BR5 3
NR1 0
JA1 43

In [65]:
test_sites = ['E2', 'N4', 'N5', 'N6', 'K5']
test_df = wq_df[wq_df['Sampling Location'].isin(test_sites)]
test_df

,Sampling Location,Sample Date,Sample Time,Top Sample Temperature (ºC),Bottom Sample Temperature (ºC),Site Actual Depth (ft),Top Sample Depth(ft),Bottom Sample Depth (ft),Top Salinity (psu),Bottom Salinity (psu),...,Weather Condition (Dry or Wet)_W,Top Ammonium (mg/L) Failure,Top Active Chlorophyll 'A' (µg/L) Failure,"CTD (conductivity, temperature, depth profiler) Top Dissolved Oxygen (mg/L) Failure",Top Enterococci Bacteria (Cells/100mL) Failure,Top Fecal Coliform Bacteria (Cells/100mL) Failure,Top Total Kjeldhal Nitrogen (mg/L) Failure,Top PH Failure,Top Ortho-Phosphorus (mg/L) Failure,Month
9,K5,2000-02-15,14:25:00,2.95,2.63,42.0,3.3,42.6,23.51,27.92,...,1,0,0,0,0,0,0,0,0,2
13,N6,2000-02-15,11:21:00,2.16,3.72,52.0,3.3,42.6,17.36,28.13,...,1,0,0,0,0,0,0,0,0,2
21,N5,2000-02-23,11:14:00,3.63,3.37,47.0,3.3,45.9,23.22,25.35,...,0,0,0,0,0,0,0,0,0,2
23,E2,2000-02-23,10:36:00,3.25,3.25,50.0,3.3,45.9,23.29,23.30,...,0,0,0,0,0,0,0,0,0,2
24,N4,2000-02-23,11:40:00,2.84,3.26,53.0,3.3,49.2,15.97,23.98,...,0,0,0,0,0,0,0,0,0,2
56,N5,2000-04-12,13:58:00,9.14,7.66,43.0,3.3,29.5,2.11,2.88,...,1,0,0,0,0,0,0,0,0,4
58,N4,2000-04-12,13:36:00,9.32,8.10,44.0,3.3,39.4,0.99,2.29,...,1,0,0,0,0,0,0,0,0,4
60,E2,2000-04-12,14:23:00,8.34,8.32,50.0,3.3,52.5,5.88,8.06,...,1,0,0,0,0,0,0,0,0,4
63,K5,2000-04-13,13:49:00,10.21,8.55,41.0,3.3,39.4,7.39,8.67,...,0,0,0,0,0,0,0,0,0,4
73,N6,2000-04-13,12:00:00,8.80,7.17,52.0,3.3,39.4,4.26,5.95,...,0,0,0,0,0,0,0,0,0,4
101,N4,2000-05-17,13:45:00,16.80,15.20,49.0,3.3,39.4,2.93,18.55,...,0,0,0,0,0,0,0,0,0,5
102,N5,2000-05-17,14:08:00,16.60,14.90,46.0,3.3,29.5,5.67,21.60,...,0,0,0,0,0,0,0,0,0,5
103,E2,2000-05-17,10:33:00,16.00,16.10,54.0,3.3,52.5,16.55,18.23,...,0,0,0,0,0,0,0,0,0,5
109,K5,2000-05-18,13:39:00,18.50,17.80,38.0,3.3,39.4,21.20,21.70,...,0,0,0,0,0,0,0,0,0,5
111,N6,2000-05-18,11:50:00,16.20,14.20,54.0,3.3,39.4,12.99,14.60,...,0,0,0,0,0,0,0,0,0,5
137,E2,2000-05-24,10:54:00,16.20,15.70,47.0,3.3,52.5,18.87,19.43,...,1,0,0,0,0,0,0,0,0,5
140,N5,2000-05-24,14:21:00,16.30,15.20,52.0,3.3,29.5,12.78,22.10,...,1,0,0,0,0,0,0,0,0,5
141,N4,2000-05-24,13:53:00,17.60,16.10,44.0,3.3,39.4,4.73,13.97,...,1,0,0,0,0,0,0,0,0,5
154,E2,2000-06-05,14:32:00,16.20,15.70,52.0,3.3,52.5,18.87,19.43,...,0,0,0,0,0,0,0,0,0,6
155,N5,2000-06-05,10:34:00,16.30,15.20,50.0,3.3,29.5,12.78,22.10,...,0,0,0,0,0,0,0,0,0,6
156,E2,2000-06-05,14:32:00,16.20,15.70,52.0,3.3,52.5,18.87,19.43,...,0,0,0,0,0,0,0,0,0,6
160,N4,2000-06-05,10:58:00,17.60,16.10,46.0,3.3,39.4,4.73,13.97,...,0,0,0,0,0,0,0,0,0,6
171,E2,2000-06-26,11:15:00,20.52,20.21,50.0,3.3,49.2,21.70,22.07,...,0,0,0,1,0,0,0,0,0,6
172,N5,2000-06-26,14:39:00,21.50,18.12,48.0,3.3,52.5,14.46,25.40,...,0,0,0,1,0,0,0,0,0,6
173,N4,2000-06-26,14:11:00,22.94,18.77,52.0,3.3,52.5,5.30,22.60,...,0,0,0,1,0,0,0,0,0,6
175,N5,2000-06-26,14:39:00,21.50,18.12,48.0,3.3,52.5,14.46,25.40,...,0,0,0,1,0,0,0,0,0,6
177,K5,2000-06-27,13:16:00,22.79,17.90,42.0,3.3,42.6,20.88,26.49,...,0,0,1,1,0,0,0,0,0,6
184,N6,2000-06-27,11:09:00,20.93,17.69,51.0,3.3,49.2,17.23,27.40,...,0,0,0,0,0,0,0,0,0,6
217,E2,2000-07-06,10:48:00,20.52,20.21,51.0,3.3,49.2,21.70,22.07,...,0,0,0,1,0,0,0,0,0,7
219,N5,2000-07-06,14:16:00,21.50,18.12,50.0,3.3,52.5,14.46,25.40,...,0,0,0,1,0,0,0,0,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23377,N6,2019-05-14,10:38:00,19.31,18.78,55.1,4.0,55.0,13.34,28.53,...,1,0,0,0,1,0,0,0,0,5
23378,K5,2019-05-14,12:04:00,19.26,19.24,42.3,3.0,41.0,19.22,25.04,...,1,0,0,0,1,0,0,0,0,5
23441,N4,2019-05-28,12:27:00,19.21,20.47,44.9,3.0,39.0,2.25,20.30,...,1,0,0,0,0,0,0,0,0,5
23445,N5,2019-05-28,13:22:00,19.39,20.20,44.0,3.0,45.0,4.56,23.74,...,1,0,0,0,0,0,0,0,0,5
23447,E2,2019-05-28,10:45:00,15.15,15.24,31.0,3.0,49.0,21.44,22.38,...,1,0,0,0,0,0,0,0,0,5
23467,N6,2019-05-29,11:03:00,19.31,18.78,52.0,4.0,55.0,13.34,28.53,...,1,0,0,0,0,0,0,0,0,5
23468,K5,2019-05-29,12:55:00,19.26,19.24,42.0,3.0,41.0,19.22,25.04,...,1,0,0,0,0,0,0,0,0,5
23519,N5,2019-06-10,10:44:00,19.39,20.20,48.2,3.0,45.0,4.56,23.74,...,0,0,0,0,0,0,0,0,0,6
23521,E2,2019-06-10,10:26:00,15.15,15.24,49.0,3.0,49.0,21.44,22.38,...,0,0,0,0,0,0,0,0,0,6
23529,N4,2019-06-10,11:07:00,19.21,20.47,26.0,3.0,39.0,2.25,20.30,...,0,0,0,0,0,0,0,0,0,6
23557,K5,2019-06-12,10:28:00,19.26,19.24,39.0,3.0,41.0,19.22,25.04,...,1,0,0,0,0,0,0,0,0,6
23558,N6,2019-06-12,11:56:00,19.31,18.78,53.0,4.0,55.0,13.34,28.53,...,1,0,0,0,0,0,0,0,0,6
23597,E2,2019-06-24,11:07:00,15.15,15.24,49.0,3.0,49.0,21.44,22.38,...,0,0,0,0,0,0,0,0,0,6
23599,N5,2019-06-24,11:29:00,19.39,20.20,48.2,3.0,45.0,4.56,23.74,...,0,0,0,0,0,0,0,0,0,6
23609,N4,2019-06-24,12:36:00,19.21,20.47,26.0,3.0,39.0,2.25,20.30,...,0,0,0,0,0,0,0,0,0,6
23619,N6,2019-06-25,11:08:00,19.31,18.78,55.0,4.0,55.0,13.34,28.53,...,1,0,0,0,1,0,0,0,0,6
23628,K5,2019-06-25,12:27:00,19.26,19.24,45.0,3.0,41.0,19.22,25.04,...,1,0,0,0,0,0,0,0,0,6
23651,N5,2019-07-02,15:40:00,21.86,18.92,53.0,3.0,51.0,16.07,23.80,...,0,0,0,0,0,0,0,0,0,7
23652,N4,2019-07-02,15:19:00,22.58,19.96,42.0,3.0,37.0,13.63,20.39,...,0,0,0,0,0,0,0,0,0,7
23655,E2,2019-07-02,16:04:00,19.13,18.99,48.0,3.0,48.0,22.88,23.01,...,0,0,0,0,0,0,0,0,0,7
23695,N6,2019-07-09,15:30:00,19.31,18.78,54.0,4.0,55.0,13.34,28.53,...,0,0,0,0,0,0,0,0,0,7
23714,K5,2019-07-09,13:54:00,19.26,19.24,41.0,3.0,41.0,19.22,25.04,...,0,0,0,0,0,0,0,0,0,7
23727,N4,2019-07-10,10:50:00,22.58,19.96,40.0,3.0,37.0,13.63,20.39,...,0,0,0,0,0,0,0,0,0,7
23729,N5,2019-07-10,10:22:00,21.86,18.92,51.0,3.0,51.0,16.07,23.80,...,0,0,0,0,0,0,0,0,0,7
23735,E2,2019-07-10,09:57:00,19.13,18.99,50.0,3.0,48.0,22.88,23.01,...,0,0,0,0,0,0,0,0,0,7
23769,N6,2019-07-16,11:57:00,19.31,18.78,53.0,4.0,55.0,13.34,28.53,...,0,0,0,0,0,0,0,0,0,7
23772,K5,2019-07-16,14:15:00,19.26,19.24,18.0,3.0,41.0,19.22,25.04,...,0,0,0,0,0,0,0,0,0,7
23777,N5,2019-07-17,11:42:00,21.86,18.92,49.0,3.0,51.0,16.07,23.80,...,0,0,0,0,0,0,0,0,0,7
23781,N4,2019-07-17,12:01:00,22.58,19.96,45.0,3.0,37.0,13.63,20.39,...,0,0,0,0,0,0,0,0,0,7
23782,E2,2019-07-17,11:18:00,19.13,18.99,49.0,3.0,48.0,22.88,23.01,...,0,0,0,0,0,0,0,0,0,7

In [124]:
test_df['Top Enterococci Bacteria (Cells/100mL) Failure'].sum()
test_df.reset_index()

,index,Sampling Location,Sample Date,Sample Time,Top Sample Temperature (ºC),Bottom Sample Temperature (ºC),Site Actual Depth (ft),Top Sample Depth(ft),Bottom Sample Depth (ft),Top Salinity (psu),...,Weather Condition (Dry or Wet)_W,Top Ammonium (mg/L) Failure,Top Active Chlorophyll 'A' (µg/L) Failure,"CTD (conductivity, temperature, depth profiler) Top Dissolved Oxygen (mg/L) Failure",Top Enterococci Bacteria (Cells/100mL) Failure,Top Fecal Coliform Bacteria (Cells/100mL) Failure,Top Total Kjeldhal Nitrogen (mg/L) Failure,Top PH Failure,Top Ortho-Phosphorus (mg/L) Failure,Month
0,9,K5,2000-02-15,14:25:00,2.95,2.63,42.0,3.3,42.6,23.51,...,1,0,0,0,0,0,0,0,0,2
1,13,N6,2000-02-15,11:21:00,2.16,3.72,52.0,3.3,42.6,17.36,...,1,0,0,0,0,0,0,0,0,2
2,21,N5,2000-02-23,11:14:00,3.63,3.37,47.0,3.3,45.9,23.22,...,0,0,0,0,0,0,0,0,0,2
3,23,E2,2000-02-23,10:36:00,3.25,3.25,50.0,3.3,45.9,23.29,...,0,0,0,0,0,0,0,0,0,2
4,24,N4,2000-02-23,11:40:00,2.84,3.26,53.0,3.3,49.2,15.97,...,0,0,0,0,0,0,0,0,0,2
5,56,N5,2000-04-12,13:58:00,9.14,7.66,43.0,3.3,29.5,2.11,...,1,0,0,0,0,0,0,0,0,4
6,58,N4,2000-04-12,13:36:00,9.32,8.10,44.0,3.3,39.4,0.99,...,1,0,0,0,0,0,0,0,0,4
7,60,E2,2000-04-12,14:23:00,8.34,8.32,50.0,3.3,52.5,5.88,...,1,0,0,0,0,0,0,0,0,4
8,63,K5,2000-04-13,13:49:00,10.21,8.55,41.0,3.3,39.4,7.39,...,0,0,0,0,0,0,0,0,0,4
9,73,N6,2000-04-13,12:00:00,8.80,7.17,52.0,3.3,39.4,4.26,...,0,0,0,0,0,0,0,0,0,4
10,101,N4,2000-05-17,13:45:00,16.80,15.20,49.0,3.3,39.4,2.93,...,0,0,0,0,0,0,0,0,0,5
11,102,N5,2000-05-17,14:08:00,16.60,14.90,46.0,3.3,29.5,5.67,...,0,0,0,0,0,0,0,0,0,5
12,103,E2,2000-05-17,10:33:00,16.00,16.10,54.0,3.3,52.5,16.55,...,0,0,0,0,0,0,0,0,0,5
13,109,K5,2000-05-18,13:39:00,18.50,17.80,38.0,3.3,39.4,21.20,...,0,0,0,0,0,0,0,0,0,5
14,111,N6,2000-05-18,11:50:00,16.20,14.20,54.0,3.3,39.4,12.99,...,0,0,0,0,0,0,0,0,0,5
15,137,E2,2000-05-24,10:54:00,16.20,15.70,47.0,3.3,52.5,18.87,...,1,0,0,0,0,0,0,0,0,5
16,140,N5,2000-05-24,14:21:00,16.30,15.20,52.0,3.3,29.5,12.78,...,1,0,0,0,0,0,0,0,0,5
17,141,N4,2000-05-24,13:53:00,17.60,16.10,44.0,3.3,39.4,4.73,...,1,0,0,0,0,0,0,0,0,5
18,154,E2,2000-06-05,14:32:00,16.20,15.70,52.0,3.3,52.5,18.87,...,0,0,0,0,0,0,0,0,0,6
19,155,N5,2000-06-05,10:34:00,16.30,15.20,50.0,3.3,29.5,12.78,...,0,0,0,0,0,0,0,0,0,6
20,156,E2,2000-06-05,14:32:00,16.20,15.70,52.0,3.3,52.5,18.87,...,0,0,0,0,0,0,0,0,0,6
21,160,N4,2000-06-05,10:58:00,17.60,16.10,46.0,3.3,39.4,4.73,...,0,0,0,0,0,0,0,0,0,6
22,171,E2,2000-06-26,11:15:00,20.52,20.21,50.0,3.3,49.2,21.70,...,0,0,0,1,0,0,0,0,0,6
23,172,N5,2000-06-26,14:39:00,21.50,18.12,48.0,3.3,52.5,14.46,...,0,0,0,1,0,0,0,0,0,6
24,173,N4,2000-06-26,14:11:00,22.94,18.77,52.0,3.3,52.5,5.30,...,0,0,0,1,0,0,0,0,0,6
25,175,N5,2000-06-26,14:39:00,21.50,18.12,48.0,3.3,52.5,14.46,...,0,0,0,1,0,0,0,0,0,6
26,177,K5,2000-06-27,13:16:00,22.79,17.90,42.0,3.3,42.6,20.88,...,0,0,1,1,0,0,0,0,0,6
27,184,N6,2000-06-27,11:09:00,20.93,17.69,51.0,3.3,49.2,17.23,...,0,0,0,0,0,0,0,0,0,6
28,217,E2,2000-07-06,10:48:00,20.52,20.21,51.0,3.3,49.2,21.70,...,0,0,0,1,0,0,0,0,0,7
29,219,N5,2000-07-06,14:16:00,21.50,18.12,50.0,3.3,52.5,14.46,...,0,0,0,1,0,0,0,0,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2514,23377,N6,2019-05-14,10:38:00,19.31,18.78,55.1,4.0,55.0,13.34,...,1,0,0,0,1,0,0,0,0,5
2515,23378,K5,2019-05-14,12:04:00,19.26,19.24,42.3,3.0,41.0,19.22,...,1,0,0,0,1,0,0,0,0,5
2516,23441,N4,2019-05-28,12:27:00,19.21,20.47,44.9,3.0,39.0,2.25,...,1,0,0,0,0,0,0,0,0,5
2517,23445,N5,2019-05-28,13:22:00,19.39,20.20,44.0,3.0,45.0,4.56,...,1,0,0,0,0,0,0,0,0,5
2518,23447,E2,2019-05-28,10:45:00,15.15,15.24,31.0,3.0,49.0,21.44,...,1,0,0,0,0,0,0,0,0,5
2519,23467,N6,2019-05-29,11:03:00,19.31,18.78,52.0,4.0,55.0,13.34,...,1,0,0,0,0,0,0,0,0,5
2520,23468,K5,2019-05-29,12:55:00,19.26,19.24,42.0,3.0,41.0,19.22,...,1,0,0,0,0,0,0,0,0,5
2521,23519,N5,2019-06-10,10:44:00,19.39,20.20,48.2,3.0,45.0,4.56,...,0,0,0,0,0,0,0,0,0,6
2522,23521,E2,2019-06-10,10:26:00,15.15,15.24,49.0,3.0,49.0,21.44,...,0,0,0,0,0,0,0,0,0,6
2523,23529,N4,2019-06-10,11:07:00,19.21,20.47,26.0,3.0,39.0,2.25,...,0,0,0,0,0,0,0,0,0,6
2524,23557,K5,2019-06-12,10:28:00,19.26,19.24,39.0,3.0,41.0,19.22,...,1,0,0,0,0,0,0,0,0,6
2525,23558,N6,2019-06-12,11:56:00,19.31,18.78,53.0,4.0,55.0,13.34,...,1,0,0,0,0,0,0,0,0,6
2526,23597,E2,2019-06-24,11:07:00,15.15,15.24,49.0,3.0,49.0,21.44,...,0,0,0,0,0,0,0,0,0,6
2527,23599,N5,2019-06-24,11:29:00,19.39,20.20,48.2,3.0,45.0,4.56,...,0,0,0,0,0,0,0,0,0,6
2528,23609,N4,2019-06-24,12:36:00,19.21,20.47,26.0,3.0,39.0,2.25,...,0,0,0,0,0,0,0,0,0,6
2529,23619,N6,2019-06-25,11:08:00,19.31,18.78,55.0,4.0,55.0,13.34,...,1,0,0,0,1,0,0,0,0,6
2530,23628,K5,2019-06-25,12:27:00,19.26,19.24,45.0,3.0,41.0,19.22,...,1,0,0,0,0,0,0,0,0,6
2531,23651,N5,2019-07-02,15:40:00,21.86,18.92,53.0,3.0,51.0,16.07,...,0,0,0,0,0,0,0,0,0,7
2532,23652,N4,2019-07-02,15:19:00,22.58,19.96,42.0,3.0,37.0,13.63,...,0,0,0,0,0,0,0,0,0,7
2533,23655,E2,2019-07-02,16:04:00,19.13,18.99,48.0,3.0,48.0,22.88,...,0,0,0,0,0,0,0,0,0,7
2534,23695,N6,2019-07-09,15:30:00,19.31,18.78,54.0,4.0,55.0,13.34,...,0,0,0,0,0,0,0,0,0,7
2535,23714,K5,2019-07-09,13:54:00,19.26,19.24,41.0,3.0,41.0,19.22,...,0,0,0,0,0,0,0,0,0,7
2536,23727,N4,2019-07-10,10:50:00,22.58,19.96,40.0,3.0,37.0,13.63,...,0,0,0,0,0,0,0,0,0,7
2537,23729,N5,2019-07-10,10:22:00,21.86,18.92,51.0,3.0,51.0,16.07,...,0,0,0,0,0,0,0,0,0,7
2538,23735,E2,2019-07-10,09:57:00,19.13,18.99,50.0,3.0,48.0,22.88,...,0,0,0,0,0,0,0,0,0,7
2539,23769,N6,2019-07-16,11:57:00,19.31,18.78,53.0,4.0,55.0,13.34,...,0,0,0,0,0,0,0,0,0,7
2540,23772,K5,2019-07-16,14:15:00,19.26,19.24,18.0,3.0,41.0,19.22,...,0,0,0,0,0,0,0,0,0,7
2541,23777,N5,2019-07-17,11:42:00,21.86,18.92,49.0,3.0,51.0,16.07,...,0,0,0,0,0,0,0,0,0,7
2542,23781,N4,2019-07-17,12:01:00,22.58,19.96,45.0,3.0,37.0,13.63,...,0,0,0,0,0,0,0,0,0,7
2543,23782,E2,2019-07-17,11:18:00,19.13,18.99,49.0,3.0,48.0,22.88,...,0,0,0,0,0,0,0,0,0,7

In [125]:
testG = nx.MultiGraph()

In [126]:
pho_df = test_df[test_df['Top Ortho-Phosphorus (mg/L) Failure'] == 1]
pho_df = pho_df.reset_index(drop=True)
a =0
for i, row in pho_df.iterrows():
    month = row['Sample Date'].month
    year = row['Sample Date'].year
    
    for j, row2 in pho_df.drop(index=i).iterrows():
        if row2['Sample Date'].month == month and row2['Sample Date'].year == year:
            testG.add_edge(row['Sampling Location'], row2['Sampling Location'], 
                           # adds attributes
                           #u_att=row, v_att=row2
                          )

In [127]:
testG.nodes()

['E2', 'N4', 'K5']

In [128]:
testG.edges()

[('E2', 'N4'),
 ('E2', 'N4'),
 ('E2', 'K5'),
 ('E2', 'K5'),
 ('E2', 'K5'),
 ('E2', 'K5'),
 ('E2', 'K5'),
 ('E2', 'K5'),
 ('E2', 'K5'),
 ('E2', 'K5'),
 ('K5', 'K5'),
 ('K5', 'K5'),
 ('K5', 'K5'),
 ('K5', 'K5'),
 ('K5', 'K5'),
 ('K5', 'K5'),
 ('K5', 'K5'),
 ('K5', 'K5'),
 ('K5', 'K5'),
 ('K5', 'K5'),
 ('K5', 'K5'),
 ('K5', 'K5')]

ModuleNotFoundError: No module named 'graphviz'

In [144]:
attr_dict = {'freq': 0}
for i, row in test_df.iterrows():
    if row['Top Active Chlorophyll \'A\' (µg/L) Failure'] == 1:
            if i != j and row2['Top Active Chlorophyll \'A\' (µg/L) Failure'] == 1:
                testG.add_edge(row['Sampling Location'], row2['Sampling Location'], attr_dict=attr_dict)
                testG[row['Sampling Location']][row2['Sampling Location']]['freq'] += 1

In [46]:
testG.graph

{}

1

need to figure out how to make the frequencies accessible and measureable