# Data Wrangling

Though the data I pulled from NYC data site came as a csv and was in relatively useable form, I still needed to perform additional cleaning to ensure my data was ready for analysis.

In [1]:
# Import the necessary packages and data
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd

path = os.path.expanduser('~/Projects/capstone-two/data/raw/Harbor_Water_Quality.csv')
df = pd.read_csv(path, parse_dates=['Sample Date'])

C:\Users\Drew\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (5,6,10,11,12,13,20,21,26,27,35,38,40,51,53,59,60,61,64,65,67,68,76,82,83,88,94,95,97,98) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

There are dataype problems with certain columns, but before dealing with those, I first want to see what the dataframe looks like.

In [2]:
df.shape

(88366, 100)

In [3]:
df.head()

,Sampling Location,Duplicate Sample,Sample Date,Sample Time,Weather Condition (Dry or Wet),Top Sample Temperature (ºC),Bottom Sample Temperature (ºC),Site Actual Depth (ft),Top Sample Depth(ft),Bottom Sample Depth (ft),...,Oakwood BOD Top Sample (mg/L),Oakwood BOD Bottom Sample(mg/L),Oakwood Total Suspended Solid Top Sample (mg/L),Oakwood Total Suspended Solid Bottom Sample (mg/L),Top Turbidity( Nephelometric Turbidity Units),Bottom Turbidity YSI (Nephelometric Turbidity Units),Sampling Comment,Long,Lat,Type
0,BR5,NaN,2015-08-17,1:07 PM,Dry,24.68,NaN,13.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.8713,40.813667,Permanent
1,K2,NaN,1965-07-06,9:50 AM,NaN,22.8,22.2,21.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-74.153,40.641167,Permanent
2,N8,NaN,1909-07-16,4:10 PM,NaN,20,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-74.0455,40.606167,Permanent
3,N9,NaN,1972-07-27,9:22 AM,NaN,17.2,16.1,NaN,NaN,NaN,...,0.6,0.6,NaN,NaN,NaN,NaN,NaN,-73.9833,40.568333,Permanent
4,NC0,NaN,2014-02-26,10:45 AM,Dry,2.51,2.46,15.0,3.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Light snow,-73.9316,40.714961,Permanent

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88366 entries, 0 to 88365
Data columns (total 100 columns):
Sampling Location                                                                   88365 non-null object
Duplicate Sample                                                                    2929 non-null object
Sample Date                                                                         88365 non-null datetime64[ns]
Sample Time                                                                         84504 non-null object
Weather Condition (Dry or Wet)                                                      32498 non-null object
Top Sample Temperature (ºC)                                                         69920 non-null object
Bottom Sample Temperature (ºC)                                                      69147 non-null object
Site Actual Depth (ft)                                                              60162 non-null float64
Top Sample Depth(ft)                                                                27969 non-null float64
Bottom Sample Depth (ft)                                                            27475 non-null float64
Top Salinity  (psu)                                                                 67326 non-null object
Bottom Salinity  (psu)                                                              65926 non-null object
Top Conductivity (S/m)                                                              26256 non-null object
Bottom Conductivity (S/m)                                                           24909 non-null object
CTD (conductivity, temperature, depth profiler) Top Dissolved Oxygen (mg/L)         20367 non-null float64
CTD (conductivity, temperature, depth profiler) Bottom Dissolved Oxygen (mg/L)      18812 non-null float64
Percentage O2 Saturation Top Sample                                                 22129 non-null float64
Percentage O2 Saturation Bottom sample                                              20618 non-null float64
Light Trans (% transparency) Top Sample                                             16788 non-null float64
Light Trans (% transparency) Bottom Sample                                          15781 non-null float64
Top Sigma-T (kg/m3)                                                                 25403 non-null object
Bottom Sigma-T (kg/m3)                                                              24110 non-null object
Top Fluorometer (mg/m3)                                                             18555 non-null float64
Bottom Fluorometer mg/m3                                                            17267 non-null float64
CTD (conductivity, temperature, depth profiler) PH Top Sample                       8009 non-null float64
CTD (conductivity, temperature, depth profiler) PH Bottom Sample                    7389 non-null float64
Top Sample Photosysthetically Active Radiation Reference (400-700nm light (uE/S)    15194 non-null object
Top Sample Par (uE/S m2)                                                            16399 non-null object
Bottom Sample Par uE/S (uE/S m2)                                                    12145 non-null float64
Oxidation Reduction Potential (mV) Top Sample                                       12956 non-null float64
Oxidation Reduction Potential (mV) Bottom Sample                                    11942 non-null float64
Current Speed (knot)                                                                23099 non-null object
Current Direction (Current Direction)                                               76938 non-null object
Wind Speed (mph)                                                                    30948 non-null object
Wind Direction (Wind Direction)                                                     29640 non-null object
Sea State                                                                           31001 non-null object
Winkler Method Top Dissolved Oxygen (mg/L)                                          75564 non-null float64
Winkler Method Bottom Dissolved Oxygen (mg/L)                                       73199 non-null float64
Secchi Depth (ft)                                                                   36561 non-null object
Top PH                                                                              39235 non-null float64
Bottom PH                                                                           31780 non-null object
Top Total Coliform Cells/100 mL                                                     28373 non-null float64
Top Bottom Coliform Cells/100 mL                                                    28346 non-null float64
Fecal Coliform Top Sample Less Than or Greater Than Result                          5394 non-null object
Fecal Coliform Bottom Sample Less Than or Greater Than Result                       499 non-null object
Top Fecal Coliform Bacteria (Cells/100mL)                                           40597 non-null object
Bottom Fecal Coliform Bacteria (Cells/100mL)                                        10322 non-null object
Enterococcus Top Sample Less Than or Greater Than Result                            13522 non-null object
Enterococcus Bottom Sample Less Than or Greater Than Result                         1658 non-null object
Top Enterococci Bacteria (Cells/100mL)                                              30477 non-null object
Bottom Enterococci Bacteria (Cells/100mL)                                           3260 non-null float64
Top Nitrate/Nitrite (mg/L)                                                          39879 non-null object
Bottom Nitrate/Nitrite (mg/L)                                                       1025 non-null float64
Top Ammonium (mg/L)                                                                 39792 non-null object
Bottom Ammonium (mg/L)                                                              1021 non-null float64
Top Ortho-Phosphorus (mg/L)                                                         28483 non-null object
Bottom Ortho-Phosphorus (mg/L)                                                      885 non-null float64
Top Total Kjeldhal Nitrogen (mg/L)                                                  33846 non-null float64
Bottom Total Kjeldhal Nitrogen (mg/L)                                               668 non-null float64
Top Silica (mg/L)                                                                   31713 non-null object
Bottom Silica (mg/L)                                                                8672 non-null object
Total Phosphorus(mg/L)                                                              39664 non-null object
Bottom Total Phosphorus (mg/L)                                                      1019 non-null float64
Top Total Suspended Solid (mg/L)                                                    38130 non-null float64
Bottom Total Suspended Solid (mg/L)                                                 29820 non-null object
Top Active Chlorophyll 'A' (µg/L)                                                   39126 non-null object
Bottom Active Chlorophyll 'A' (µg/L)                                                192 non-null float64
Chlorophyll Top Sample Field (u/L (YSI)                                             8448 non-null object
Chlorophyll Bottom Sample Field (u/L (YSI)                                          2094 non-null object
TOP Total Organic Carbon (mg/L)                                                     764 non-null float64
Top Dissolved Organic Carbon (mg/L)                                                 28950 non-null float64
Bottom Dissolved Organic Carbon (mg/L)                                              7 non-null float64
Top Dissolved Organic Carbon YSI (mg/L)                                             9295 non-null float64
Bottom Dissolved Organic Carbon YSI (mg/L)                                          4020 non-null float64
Top Sample Depth  YSI (ft)                                                          237 non-null float64
Bottom Depth  YSI (ft)                                                              79 non-null float64
Top Sample Salinity YSI (psu)                                                       8664 non-null object
Bottom Sample Salinity YSI (psu)                                                    2783 non-null float64
Top Sample Temperature  YSI (ºC)                                                    9012 non-null float64
Bottom Sample Temperature YSI (ºC)                                                  3089 non-null float64
Top Bacteria # per C.C. 1909                                                        522 non-null float64
Bottom Bacteria # per C.C. 1909                                                     635 non-null float64
Top Beam Attenuation Coefficient                                                    608 non-null object
Bottom Beam Attenuation Coefficient                                                 438 non-null object
Top Five-Day Biochemical Oxygen Demand(mg/L)                                        14354 non-null float64
Bottom Five-Day Biochemical Oxygen Demand(mg/L)                                     14290 non-null float64
Top PCB Plate Count (Thous/mL)                                                      6654 non-null float64
Bottom PCB plate Count (Thous/mL)                                                   6645 non-null float64
Top Coliform (Log No/mL)                                                            4284 non-null object
Bottom Coliform (Log No/mL)                                                         4160 non-null float64
Oakwood BOD Top Sample (mg/L)                                                       18646 non-null float64
Oakwood BOD Bottom Sample(mg/L)                                                     18564 non-null float64
Oakwood  Total Suspended Solid Top Sample  (mg/L)                                   0 non-null float64
Oakwood Total Suspended Solid Bottom Sample (mg/L)                                  0 non-null float64
Top Turbidity( Nephelometric Turbidity Units)                                       6226 non-null object
Bottom Turbidity YSI (Nephelometric Turbidity Units)                                2329 non-null object
Sampling Comment                                                                    5447 non-null object
Long                                                                                88363 non-null object
Lat                                                                                 88363 non-null object
Type                                                                                88366 non-null object
dtypes: datetime64[ns](1), float64(51), object(48)
memory usage: 67.4+ MB

In [5]:
df.describe()

,Site Actual Depth (ft),Top Sample Depth(ft),Bottom Sample Depth (ft),"CTD (conductivity, temperature, depth profiler) Top Dissolved Oxygen (mg/L)","CTD (conductivity, temperature, depth profiler) Bottom Dissolved Oxygen (mg/L)",Percentage O2 Saturation Top Sample,Percentage O2 Saturation Bottom sample,Light Trans (% transparency) Top Sample,Light Trans (% transparency) Bottom Sample,Top Fluorometer (mg/m3),...,Bottom Bacteria # per C.C. 1909,Top Five-Day Biochemical Oxygen Demand(mg/L),Bottom Five-Day Biochemical Oxygen Demand(mg/L),Top PCB Plate Count (Thous/mL),Bottom PCB plate Count (Thous/mL),Bottom Coliform (Log No/mL),Oakwood BOD Top Sample (mg/L),Oakwood BOD Bottom Sample(mg/L),Oakwood Total Suspended Solid Top Sample (mg/L),Oakwood Total Suspended Solid Bottom Sample (mg/L)
count,60162.000000,27969.000000,27475.000000,20367.000000,18812.000000,22129.000000,20618.000000,16788.000000,15781.000000,18555.000000,...,635.000000,14354.000000,14290.000000,6654.000000,6645.000000,4160.000000,18646.000000,18564.000000,0.0,0.0
mean,34.193417,3.089239,31.046695,6.950473,6.069471,81.811070,69.511316,58.964913,58.450028,15.080308,...,5556.497638,2.548251,2.051372,2.376002,1.985658,1.476957,2.610243,2.395346,NaN,NaN
std,21.903431,1.076717,19.888996,2.898322,2.856763,30.539045,26.546844,20.532792,22.295995,23.359770,...,9855.976729,1.922383,1.637950,21.450678,28.440395,0.810886,1.548620,1.354373,NaN,NaN
min,0.000000,0.000000,1.000000,-1.120000,-9.990000,-15.900000,-51.670000,-22.860000,-41.970000,-99.000000,...,30.000000,-6.000000,0.000000,-100.000000,-100.000000,-1.000000,0.000000,0.000000,NaN,NaN
25%,18.000000,3.000000,16.400000,5.110000,4.390000,64.560000,55.572500,49.980000,50.290000,3.110000,...,1400.000000,1.600000,1.000000,0.073000,0.072000,1.000000,1.500000,1.400000,NaN,NaN
50%,28.000000,3.000000,24.000000,6.470000,5.660000,79.110000,70.280000,64.065000,65.300000,8.510000,...,3800.000000,2.000000,2.000000,0.230000,0.209000,1.000000,2.300000,2.100000,NaN,NaN
75%,46.000000,3.280000,41.000000,8.210000,7.240000,94.850000,83.700000,72.920000,73.590000,19.878000,...,6800.000000,3.000000,2.400000,0.800000,0.620000,2.000000,3.300000,3.100000,NaN,NaN
max,230.000000,23.000000,150.000000,28.560000,29.670000,374.220000,283.240000,131.730000,184.480000,294.700000,...,160000.000000,67.000000,66.000000,1200.000000,1800.000000,9.630000,17.200000,15.800000,NaN,NaN

In [6]:
len(df['Sampling Location'].unique())

5132

In [7]:
df['Sampling Location'].unique()

array(['BR5', 'K2', 'N8', ..., 'NR4-M1', 'NR1-M3', 'NR2-B2'], dtype=object)

There are 230 distinct locations, but I have a list of New York City Harbor Water Quality Survey Stations that is much shorter. The sites not listed in the following list are from older sampling events.

In [8]:
survey_stations = ['K1', 'K2', 'K3', 'K4', 'K5', 'K5A', 'K6',
                  'N1', 'N3B', 'N4', 'N5', 'N6', 'G2', 'N7', 'N8',
                  'N9', 'N16', 'NR1', 'E2', 'E4', 'E6', 'E7', 'E8',
                  'E10', 'E11', 'E12', 'E13', 'E14', 'E15', 'J1', 
                  'J2', 'J3', 'J5', 'J7', 'J8', 'J9A', 'J10', 'J11',
                  'J12', 'JA1', 'N9A', 'H3', 'J14', 'J16', 'AC1',
                  'AC1', 'AC2', 'BB2', 'BB4', 'BR1', 'BR3', 'BR5',
                  'CIC2', 'CIC3', 'F1', 'F5', 'FB1', 'FLC1', 'FLC2',
                  'GB1', 'GC3', 'GC4', 'GC5', 'GC6', 'HC1', 'HC2', 
                  'HC3', 'HR1', 'HR2', 'HR03', 'LN1', 'NC0', 'NC1',
                  'NC2', 'NC3', 'PB2', 'PB3', 'SP1', 'SP2', 'WC1',
                  'WC2', 'WC3'
                  ]
df = df[df['Sampling Location'].isin(survey_stations)]
df = df.reset_index(drop=True)

I don't want to look at data that is too old, so I am going to limit my dataset to readings from this millenium.

In [9]:
df = df[df['Sample Date'] >= datetime(2000, 1, 1)]
df = df.reset_index(drop=True)

I want to drop certain columns that do not have enough values or are not important to my question.

In [10]:
for col in df.columns:
    if 'Oakwood' in col:
        df = df.drop(columns=col)

#    elif 'Bottom' in col:
#        df = df.drop(columns=col)
    elif len(df[df[col].notnull()]) < 10000:
        df = df.drop(columns=col)
df = df.reset_index(drop=True)

Next I want to fix problematic columns

In [11]:
# Drop columns that I don't need
df = df.drop(['Current Direction (Current Direction)', 'Wind Direction (Wind Direction)',
              'Current Speed (knot)', 'Wind Speed (mph)', 'Sea State ', 'Type',
              'Enterococcus Top Sample Less Than or Greater Than Result'], axis=1)

In [12]:
# Fix 'Weather Condition' column
df['Weather Condition (Dry or Wet)'].unique()
df = df.replace(['Dry', 'Wet'], ['D', 'W'])

In [13]:
# Check which columns are numeric and create a list of object columns
obj_cols = []
ok_obj_cols = ['Sampling Location', 'Sample Date', 'Sample Time', 'Weather Condition (Dry or Wet)']
for col in df:
    if col not in ok_obj_cols:
        try:
            df[col] = pd.to_numeric(df[col])
        except:
            print(col)
            obj_cols.append(col)

Top Sample Photosysthetically Active Radiation Reference (400-700nm light (uE/S)
Top Sample Par (uE/S m2)
Secchi Depth (ft)
Bottom PH
Top Fecal Coliform Bacteria (Cells/100mL)
Top Enterococci Bacteria (Cells/100mL)
Top Nitrate/Nitrite (mg/L)
Top Ammonium (mg/L)
Top Ortho-Phosphorus (mg/L)
Top Silica (mg/L)
Total Phosphorus(mg/L)
Bottom Total Suspended Solid (mg/L)
Top Active Chlorophyll 'A' (µg/L)
Long
Lat

In [14]:
# Fix Bottom TSS
df['Bottom Total Suspended Solid (mg/L)'] = df['Bottom Total Suspended Solid (mg/L)'].replace('.', np.nan)

In [15]:
# Fix Secchi Disk
df['Secchi Depth (ft)'] = df['Secchi Depth (ft)'].replace('3..5', '3.5')

In [16]:
for i in df['Long']:
    try:
        pd.to_numeric(i)
    except:
        df['Long'] = df['Long'].replace(i, np.nan)

In [17]:
# Fix Bottom PH
df['Bottom PH'] = df['Bottom PH'].replace('N', np.nan)

In [18]:
# Fix Top Active Chlorophyl
df['Top Active Chlorophyll \'A\' (µg/L)'] = df['Top Active Chlorophyll \'A\' (µg/L)'].replace('.', np.nan)

In [19]:
# Preprocess Top Fecal Col
df['Top Fecal Coliform Bacteria (Cells/100mL)'] = df['Top Fecal Coliform Bacteria (Cells/100mL)'].replace('TNTC', np.nan)

In [20]:
# Fix bacteria
bacteria = ['Top Fecal Coliform Bacteria (Cells/100mL)',
           'Top Enterococci Bacteria (Cells/100mL)']
def fix_commas(string):
    '''Removes commas from strings representing numbers
    with values in the thousands'''
    try:
        string = pd.to_numeric(string)
    except:
        string = string.replace(',', '')
    return string

for col in bacteria:
    try:
        df[col] = df[col].apply(fix_commas)
        df[col] = pd.to_numeric(df[col])
    except:
        print(col)

In [21]:
# fix some of total phos
df['Total Phosphorus(mg/L)'] = df['Total Phosphorus(mg/L)'].replace(['0..454', '0,968'], ['0.454', '0.968'])

In [22]:
df['Top Ortho-Phosphorus (mg/L)'] = df['Top Ortho-Phosphorus (mg/L)'].replace('.', np.nan)

In [23]:
# fix < sign
less_than_cols = ['Top Nitrate/Nitrite (mg/L)', 'Top Ammonium (mg/L)',
                 'Top Ortho-Phosphorus (mg/L)', 'Top Silica (mg/L)'
                 ]
def drop_less(string):
    '''Removes commas from strings representing numbers
    with values in the thousands'''
    try:
        string = pd.to_numeric(string)
    except:
        string = pd.to_numeric(string.replace('<', ''))
    return string


for col in less_than_cols:
    try:
        df[col] = df[col].apply(drop_less)
        df[col] = pd.to_numeric(df[col])
    except:
        print(col)

In [ ]:
def col_strip(string):
    '''Strips strings of trailing spaces and returns
    stripped string or numeric value'''
    if type(string) == str:
        string = string.replace(' ', '')
    return string

In [ ]:
for i, lat in enumerate(df['Lat']):
    try:
        pd.to_numeric(lat)
    except:
        lat_long = lat.split(',')
        if len(lat_long) == 2:
            df.loc[:, 'Lat'][i] = lat_long[0]
            if len(lat_long[1]) > 1:
                df.loc[:, 'Long'][i] = lat_long[1]

C:\Users\Drew\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Drew\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [ ]:
for col in df:
    if col != 'Sample Date':
        try:
            df[col] = df[col].apply(col_strip)
            df[col] = pd.to_numeric(df[col])
        except:
            print(col)

There are some longitude and latitudes that are switched.

In [ ]:
for i, long in enumerate(df['Long']):
    if long > 0:
        lat = long
        long = df.iloc[i]['Lat']
        df.at[i,'Lat'] = lat
        df.at[i,'Long'] = long

In [ ]:
times = []
for i in df['Sample Time']:
    try:
        times.append(datetime.strptime(i, '%I:%M%p').time())
    except:
        times.append(np.nan)
df['Sample Time'] = times

In [ ]:
# Drop duplicate measurements and columns that don't start being measured until 2005
drop_cols =  ['Winkler Method Top Dissolved Oxygen (mg/L)',  
              'Winkler Method Bottom Dissolved Oxygen (mg/L)', 
              'Percentage O2 Saturation Top Sample',  
              'Percentage O2 Saturation Bottom sample',
              'Total Phosphorus(mg/L)',
              'Top Nitrate/Nitrite (mg/L)'
             ]
for col in df:
    observation_df = df[df[col].notnull()]
    if observation_df['Sample Date'].min().year > 2002:
        drop_cols.append(col)
df = df.drop(columns=drop_cols)

I will now examine the descriptive statistics of each column to identify values that are unexpectedly high or low.

In [ ]:
df_int = df.select_dtypes(exclude=['object', 'datetime'])
df_int_subset = df_int.iloc[:, :10]
df_int_subset.describe()

In [ ]:
for col in df_int_subset:
    _ = plt.figure()
    _ = df_int[col].plot(kind='hist', bins=15)
    _ = plt.yscale('log')
    _ = plt.title(col)
    _ = plt.show()

- Columns with Questionable Values:
Site Actual Depth (max), Bottom Salinity (max), Bottom Conductivity (max)

In [ ]:
df.nlargest(5, 'Site Actual Depth (ft)')

The max depth is almost twice as high as the next deepest location and is the only depth measurement from site `E6`. It is safe to assume that this point is an erroneous entry. After more exploration, it is clear that there was a decimal point was misplaced. The depth should be 23.0 not 230.

In [ ]:
df.at[26577, 'Site Actual Depth (ft)'] = 23.0

In [ ]:
df.nlargest(5, 'Bottom Salinity  (psu)')['Bottom Salinity  (psu)']

While the maximum Bottom Salinity value is high, it does not appear to be an input error so I will keep it.

In [ ]:
df.nlargest(5, 'Bottom Conductivity (S/m)')['Bottom Conductivity (S/m)']

While the maximum Bottom Conductivity value is high, it does not appear to be an input error so I will keep it. It is from the same sampling event as the max Bottom Salinity value.

In [ ]:
df_int_subset = df_int.iloc[:, 10:20]
df_int_subset.describe()

In [ ]:
for col in df_int_subset:
    _ = plt.figure()
    _ = df_int[col].plot(kind='hist', bins=15)
    _ = plt.yscale('log')
    _ = plt.title(col)
    _ = plt.show()

- Questionable values:
Top sigma (max),  Top PH, Bottom PH

Despite being an exceedingly high measurement, dissolved oxygen can have wildly different values, so I will keep this outlier as well.

In [ ]:
df.nlargest(5, 'Top Sigma-T (kg/m3)')['Top Sigma-T (kg/m3)']

While high, these values appear to be outliers and not input errors.

In [ ]:
df.nlargest(5, 'Top PH')['Top PH']

In [ ]:
df.at[25444, 'Top PH'] = 7.80

In [ ]:
df.nlargest(5, 'Bottom PH')['Bottom PH']

In [ ]:
df.at[25344, 'Bottom PH'] = 7.50

In [ ]:
df.nlargest(5, 'Top Enterococci Bacteria (Cells/100mL)')['Top Enterococci Bacteria (Cells/100mL)']

Values don't appear to be errors.

In [ ]:
df_int_subset = df_int.iloc[:, 20:30]
df_int_subset.describe()

In [ ]:
for col in df_int_subset:
    _ = plt.figure()
    _ = df_int[col].plot(kind='hist', bins=15)
    _ = plt.yscale('log')
    _ = plt.title(col)
    _ = plt.show()

- Questionable values: Top TSS (max), Bottom TSS (max), Top Actiive Chlorophyll (max), Top Dissolved Organic Carbon

In [ ]:
df.nlargest(5, 'Top Total Suspended Solid (mg/L)')['Top Total Suspended Solid (mg/L)']

In [ ]:
df = df.drop(index=2843)

In [ ]:
df.nlargest(5, 'Bottom Total Suspended Solid (mg/L)')['Bottom Total Suspended Solid (mg/L)']

In [ ]:
df.nlargest(5, 'Top Active Chlorophyll \'A\' (µg/L)')['Top Active Chlorophyll \'A\' (µg/L)']

In [ ]:
df.nlargest(5, 'Top Dissolved Organic Carbon (mg/L)')['Top Dissolved Organic Carbon (mg/L)']

In [ ]:
df = df.drop(index=[573, 23319])

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df.shape

In [ ]:
outpath = os.path.expanduser('~/Projects/capstone-two/data/processed/Clean_Harbor_Water_Quality.csv')
df.to_csv(outpath)