In [69]:
# Import the necessary packages and data
from collections import defaultdict
from datetime import datetime
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import seaborn as sns
sns.set()
path = os.path.expanduser('~/Projects/capstone-two/data/processed/Clean_Harbor_Water_Quality.csv', )
df = pd.read_csv(path, parse_dates=['Sample Date'], index_col=0)

In [70]:
times = []
for i in df['Sample Time']:
    try:
        times.append(datetime.strptime(i, '%I:%M%p').time())
    except:
        times.append(np.nan)
df['Sample Time'] = times

In [72]:
df.head(20)

,Sampling Location,Sample Date,Sample Time,Weather Condition (Dry or Wet),Top Sample Temperature (ºC),Bottom Sample Temperature (ºC),Site Actual Depth (ft),Top Sample Depth(ft),Bottom Sample Depth (ft),Top Salinity (psu),...,Top Ortho-Phosphorus (mg/L),Top Total Kjeldhal Nitrogen (mg/L),Top Silica (mg/L),Total Phosphorus(mg/L),Top Total Suspended Solid (mg/L),Bottom Total Suspended Solid (mg/L),Top Active Chlorophyll 'A' (µg/L),Top Dissolved Organic Carbon (mg/L),Long,Lat
0,BR5,2015-08-17,13:07:00,D,24.68,NaN,13.0,3.0,NaN,25.58,...,0.124,0.435,2.610,0.188,16.0,NaN,8.96,2.39,-73.871333,40.813667
1,NC0,2014-02-26,10:45:00,D,2.51,2.46,15.0,3.0,12.0,21.66,...,0.049,1.700,1.550,0.183,11.0,9.00,29.90,3.08,-73.931556,40.714961
2,J7,2006-07-18,13:45:00,D,26.00,25.74,27.0,4.0,26.0,25.14,...,0.158,1.934,0.833,0.320,45.5,3.75,53.23,5.16,-73.820833,40.645333
3,N7,2011-05-18,11:30:00,W,13.90,13.80,53.0,3.0,51.0,17.40,...,NaN,0.717,1.715,0.098,14.0,10.00,1.40,3.00,-74.053833,40.643833
4,GC4,2013-12-10,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,...,0.070,0.990,3.120,0.154,9.0,NaN,1.60,4.07,-73.989073,40.678034
5,J10,2015-09-03,13:19:00,D,25.75,24.55,22.0,3.0,20.0,29.14,...,0.135,0.807,1.550,0.188,12.0,25.00,7.27,2.59,-73.894721,40.621667
6,J11,2007-09-19,11:48:00,D,NaN,NaN,22.0,NaN,NaN,NaN,...,0.090,0.930,1.298,0.150,7.0,NaN,18.71,2.83,-73.931333,40.581667
7,K1,2000-08-15,11:15:00,W,22.56,22.10,49.0,3.3,42.6,18.15,...,0.105,0.791,2.130,0.147,3.4,1.60,1.38,3.91,-74.081945,40.651112
8,E14,2016-09-19,13:03:00,W,23.71,23.65,24.0,3.0,22.0,25.66,...,NaN,0.655,2.704,0.201,11.0,14.00,5.79,2.45,-73.864500,40.800833
9,N3B,2003-04-08,12:15:00,W,5.40,5.27,70.0,4.0,56.0,3.23,...,0.039,1.100,4.220,0.080,8.6,25.00,1.01,5.15,-73.965333,40.820833
10,N6,2016-06-21,15:00:00,D,19.17,17.64,49.0,3.0,44.0,24.41,...,NaN,0.539,0.978,0.042,19.0,38.00,8.30,2.29,-74.051333,40.664667
11,N1,2000-04-12,12:15:00,W,9.21,8.50,46.0,3.3,39.4,0.42,...,0.029,0.665,NaN,0.088,NaN,NaN,0.82,NaN,-73.916167,40.914500
12,K5,2004-05-26,14:35:00,W,19.74,18.01,41.0,6.0,40.0,19.12,...,0.048,1.710,1.300,0.162,6.4,1.40,50.08,3.87,-74.258833,40.508833
13,E10,2011-07-05,11:08:00,D,19.83,16.98,83.0,3.0,56.0,23.74,...,NaN,0.712,1.320,0.171,12.0,8.00,9.80,3.90,-73.765333,40.843667
14,NC0,2011-10-04,10:19:00,W,20.17,21.56,16.0,3.0,13.0,16.51,...,0.267,2.150,3.940,0.353,10.0,12.00,4.40,4.00,-73.931556,40.714961
15,K1,2003-09-10,12:54:00,D,NaN,NaN,47.0,NaN,NaN,NaN,...,0.174,2.900,1.960,0.220,11.2,14.00,2.91,3.58,-74.081945,40.651112
16,N9,2010-03-09,11:06:00,NaN,4.36,4.29,16.0,3.0,14.0,27.50,...,NaN,0.750,0.418,0.050,3.4,4.00,2.40,2.10,-73.983333,40.568333
17,J7,2010-10-19,14:06:00,D,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.723,1.440,0.291,7.4,10.40,17.10,2.80,-73.820833,40.645333
18,SP1,2014-06-11,NaN,W,NaN,NaN,NaN,NaN,NaN,NaN,...,0.219,2.274,6.230,0.474,3.0,NaN,8.60,3.84,-73.860294,40.655069
19,N16,2000-03-01,10:46:00,D,4.32,4.13,24.0,3.3,23.0,25.28,...,NaN,0.645,0.721,0.068,3.6,2.40,13.50,NaN,-73.943667,40.529667